<a href="https://colab.research.google.com/github/rrben/Arquivos-de-Estudos/blob/master/Targ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dados1 = pd.read_json("/content/dados.json")

In [ ]:
dados1

    dia       valor
0     1  22174.1664
1     2  24537.6698
2     3  26139.6134
3     4      0.0000
4     5      0.0000
5     6  26742.6612
6     7      0.0000
7     8  42889.2258
8     9  46251.1740
9    10  11191.4722
10   11      0.0000
11   12      0.0000
12   13   3847.4823
13   14    373.7838
14   15   2659.7563
15   16  48924.2448
16   17  18419.2614
17   18      0.0000
18   19      0.0000
19   20  35240.1826
20   21  43829.1667
21   22  18235.6852
22   23   4355.0662
23   24  13327.1025
24   25      0.0000
25   26      0.0000
26   27  25681.8318
27   28   1718.1221
28   29  13220.4950
29   30   8414.6100

In [32]:
import xml.etree.ElementTree as ET

In [134]:
tree = ET.parse("/content/dados (2).xml")
dados2 = tree.getroot()

for row in dados2.iter("row"):
    dia = row.find("dia").text
    valor = row.find("valor").text
    print(f"Dia: {dia}, Valor: {valor}")

Dia: 1, Valor: 31490.7866
Dia: 2, Valor: 37277.9400
Dia: 3, Valor: 37708.4303
Dia: 4, Valor: 0.0000
Dia: 5, Valor: 0.0000
Dia: 6, Valor: 17934.2269
Dia: 7, Valor: 0.0000
Dia: 8, Valor: 6965.1262
Dia: 9, Valor: 24390.9374
Dia: 10, Valor: 14279.6481
Dia: 11, Valor: 0.0000
Dia: 12, Valor: 0.0000
Dia: 13, Valor: 39807.6622
Dia: 14, Valor: 27261.6304
Dia: 15, Valor: 39775.6434
Dia: 16, Valor: 29797.6232
Dia: 17, Valor: 17216.5017
Dia: 18, Valor: 0.0000
Dia: 19, Valor: 0.0000
Dia: 20, Valor: 12974.2000
Dia: 21, Valor: 28490.9861
Dia: 22, Valor: 8748.0937
Dia: 23, Valor: 8889.0023
Dia: 24, Valor: 17767.5583
Dia: 25, Valor: 0.0000
Dia: 26, Valor: 0.0000
Dia: 27, Valor: 3071.3283
Dia: 28, Valor: 48275.2994
Dia: 29, Valor: 10299.6761
Dia: 30, Valor: 39874.1073

In [135]:
indice = 13
soma = 0
K = 0

while K < indice:
    K = K + 1
    soma = soma + K

print(soma)

91

In [130]:
# Dado a sequência de Fibonacci, onde se inicia por 0 e 1 e o próximo valor 
# sempre será a soma dos 2 valores anteriores (exemplo: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34...)
# escreva um programa na linguagem que desejar onde, informado um número, ele calcule a sequência de Fibonacci
# e retorne uma mensagem avisando se o número informado pertence ou não a sequência.
num = int(input("Informe um número: "))

fib1, fib2 = 0, 1
fibonacci = [fib1, fib2]

while fib2 < num:
    fib1, fib2 = fib2, fib1 + fib2
    fibonacci.append(fib2)

if num in fibonacci:
    print(f"O número {num} pertence à sequência de Fibonacci.")
else:
    print(f"O número {num} não pertence à sequência de Fibonacci.")

Informe um número: 21
O número 21 pertence à sequência de Fibonacci.

In [131]:
num = int(input("Digite um número: "))

fibonacci = [0, 1]

while fibonacci[-1] < num:
    fibonacci.append(fibonacci[-1] + fibonacci[-2])

if num in fibonacci:
    print(f"O número {num} pertence à sequência de Fibonacci:")
    for i in range(fibonacci.index(num) + 1):
        print(fibonacci[i])
else:
    print(f"O número {num} não pertence à sequência de Fibonacci.")

Digite um número: 53
O número 53 não pertence à sequência de Fibonacci.

In [133]:

n = int(input("Digite um número inteiro: "))

fibonacci = [0, 1]

while fibonacci[-1] < n:
    next_fibonacci = fibonacci[-1] + fibonacci[-2]
    fibonacci.append(next_fibonacci)

if n in fibonacci:
    print(f" {n} pertence a sequência Fibonacci")
    soma_fibonacci = sum(fibonacci)
    print(f"Ao somar os números da Sequência Fibonacci até {fibonacci[-1]} obtêm-se o valor de: {soma_fibonacci}")
    
else:
    print(f" {n} não pertence a sequência Fibonacci")

Digite um número inteiro: 55
 55 pertence a sequência Fibonacci
Ao somar os números da Sequência Fibonacci até 55 obtêm-se o valor de: 143

In [129]:
 #Escreva um programa que inverta os caracteres de um string.
string_digitada = input("Digite uma string: ") 

def inverte_anagrama(palavra):
    letras = list(palavra)
    random.shuffle(letras)
    return ''.join(letras)
string_invertida = string_digitada[::-1]
anagrama_invertido = inverte_anagrama(string_digitada)

print("A string digitada foi: ", string_digitada)
print("A string invertida é: ", string_invertida)
print("O Anagrama da String: ",anagrama_invertido)

Digite uma string: Boleiro
A string digitada foi:  Boleiro
A string invertida é:  orieloB
O Anagrama da String:  lreiooB